*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1{
    color: white;
}

input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.073);
    color: white;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.306);
    border-radius: 4px;
}

input:focus{
    outline: none;
}

button{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background-color: #E50914;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* From Uiverse.io by vishnupprajapat */ 
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @media screen and (min-width: 524px) {
    body{
        display: flex;
        flex-direction: column;

    }
    .center {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    form{
        padding: 40px;
        border: 1px solid rgba(128, 128, 128, 0.16);
        border-radius: 5px;
    }
}
